<div class="container">
    <div id="top" class="row resume">
        <div class="col-md-9">
            <h1 id="resumename" class="resume-name" translate="resume.title">QIZHONG LIN</h1>

            <div class="row">
                <div class="col-md-6">
                    <p><span translate="resume.contact.email"></span>: <a href="mailto:{{vm.resume.contact.email}}">{{vm.resume.contact.email}}</a></p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right-md"><span translate="resume.contact.phone"></span>: {{vm.resume.contact.phone}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><span translate="resume.contact.github"></span>: <a href={{vm.resume.contact.github}}>{{vm.resume.contact.github}}</a></p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right-md"><span translate="resume.contact.linkedin"></span>: <a href={{vm.resume.info.linkedin}}>{{vm.resume.contact.linkedin}}</a></p>
                </div>
            </div>

            <h3 id="profile" class="page-header" data-toggle="collapse" href="#collapseProfiles" translate="resume.profileHeader">PROFILE</h3>
            <dl class="dl-horizontal collapse in" id="collapseProfiles">
                <div ng-repeat="(key, value) in vm.resume.profile">
                    <dt>{{key}}</dt>
                    <dd class="text-justify">{{value}}</dd>
                </div>
            </dl>

            <h3 id="experiences" class="page-header" data-toggle="collapse" href="#collapseExperiences" translate="resume.experienceHeader">PROFESSIONAL EXPERIENCES</h3>
            <div class="experiences collapse in" id="collapseExperiences">
                <div class="experience" ng-repeat="experience in vm.resume.experiences" >
                    <div id="experience{{$index}}" class="row experience-header" data-toggle="collapse" href="#collpaseExperience{{experience.index}}">
                        <div class="col-md-3"><h4>{{experience.position}}</h4></div>
                        <div class="col-md-5"><h4>{{experience.company}}</h4></div>
                        <div class="col-md-4"><h4 class="text-right-md">{{experience.time}}</h4></div>
                    </div>
                    <div class="collapse in" id="collpaseExperience{{experience.index}}">
                        <div class="project" ng-repeat="project in experience.projects" >
                            <div id="project{{experience.index}}{{project.index}}" class="row project-header" data-toggle="collapse" href="#collpaseProject{{experience.index}}{{project.index}}">
                                <div ng-show="project.time">
                                    <div class="col-md-9"><p><em>Research Project:</em>{{project.name}}</p></div>
                                    <div class="col-md-3"><p class="text-right-md">{{project.time}}</p></div>
                                </div>
                                <div ng-hide="project.time">
                                    <div class="col-md-12"><p><em>Research Project:</em>{{project.name}}</p></div>
                                </div>
                            </div>
                            <div class="collapse in" id="collpaseProject{{experience.index}}{{project.index}}">
                                <p class="text-justify"><em>Introduction: </em>{{project.introduction}}</p>
                                <p class="text-justify"><em>Responsibility: </em>{{project.responsibility}}</p>
                                <p class="text-justify"><em>Development platform and tools: </em>{{project.platform}}</p>
                                <h5><em>Key Accomplish:</em></h5>
                                <ul >
                                    <li  class="text-justify" ng-repeat="accomplish in project.accomplishes">{{accomplish}}</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <h3 id="skills" class="page-header" data-toggle="collapse" href="#collapseSkills" translate="resume.skillHeader">SKILLS</h3>
            <ul class="collapse in" id="collapseSkills" >
                <li class="text-justify" ng-repeat="skill in vm.resume.skills" ng-bind-html="skill"></li>
            </ul>

            <h3 id="papers" class="page-header" data-toggle="collapse" href="#collapsePapers" translate="resume.paperHeader">PAPERS & PUBLICATIONS</h3>
            <ol class="collapse in" id="collapsePapers">
                <li class="text-justify" ng-repeat="paper in vm.resume.papers" ng-bind-html="paper"></li>
            </ol>

            <h3 id="educations" class="page-header" data-toggle="collapse" href="#collapseEducations" translate="resume.educationHeader">EDUCATION</h3>
            <div class="collapse in" id="collapseEducations">
                <div class="row" ng-repeat="education in vm.resume.educations">
                    <div class="col-md-4">{{education.major}}</div>
                    <div class="col-md-4">{{education.university}}</div>
                    <div class="col-md-4"><p class="text-right-md">{{education.time}}</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <nav id="bs-docs-sidebar" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
                <ul class="nav bs-docs-sidenav">
                    <li><a class="sidebar" href="#resumename" scroll-to="resumename" translate="resume.contactHeader">CONTACT INFO</a></li>
                    <li><a class="sidebar" href="#profile" scroll-to="profile" translate="resume.profileHeader">PROFILE</a></li>
                    <li><a class="sidebar" href="#experiences" scroll-to="experiences" translate="resume.experienceHeader">Professional Experiences</a>
                        <ul class="nav">
                            <li ng-repeat="experience in vm.resume.experiences" ><a class="sidebar" href="#experience{{experience.index}}" scroll-to="experience{{experience.index}}">{{experience.company}}</a>
                                <ul class="nav">
                                    <li ng-repeat="project in experience.projects"><a class="sidebar" href="#project{{experience.index}}{{project.index}}" scroll-to="project{{experience.index}}{{project.index}}">{{project.name}}</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="sidebar" href="#skills" scroll-to="skills" translate="resume.skillHeader">Skills</a></li>
                    <li><a class="sidebar" href="#papers" scroll-to="papers" translate="resume.paperHeader">Papers</a></li>
                    <li><a class="sidebar" href="#educations" scroll-to="educations" translate="resume.educationHeader">Education</a></li>
                </ul>
                <a class="back-to-top" href="#top" scroll-to="top" translate="resume.backToTop">Back to top</a>
            </nav>
        </div>
    </div>
</div>
<footer class="bs-docs-footer"></footer>
